body {
	background-image: url(../images/cover.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.cover a {
	text-transform: uppercase;
	padding: 10px 10px;
}

.cover a:hover {
	background: black;
	color: white;
}